.card-body {
    box-shadow: 1px 2px 1px 1px rgb(172, 172, 172);
    margin-top: 30px;
    border-radius: 4px;
}

.card-text {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: rgb(129, 129, 129);

}

.second-content {
    width: Fixed (938px);
    height: Hug (1, 057px);
    padding: 0px, 24px, 0px, 24px;
    gap: 5px;
    margin-left: 40px;
}

.first-part {
    width: Fixed (914px);
    height: Hug (106px);
}


.card-body {
    padding-top: 20px;
    box-shadow: 1px 2px 2px 1px rgb(172, 172, 172);
}

.card-title {
    padding-left: 20px;
    padding-right: 20px;
}

.type-pelicula {
    padding: 0.2em 0.6em;
    background-color: rgb(236, 235, 235);
    border: 1px solid rgb(210, 209, 209);
    border-radius: 100px;
    margin-bottom: 20px;
    margin: 10px;
}

.image-logo-ubicacion {
    width: 24px;
    height: 24px;
    display: inline;
    color: #2196F3;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.title-pelicuas {
    font-size: 34px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.25px;
    text-align: left;
}

#sinopsis-imagen {
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.image-principal {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 70%;
    height: auto;
    max-height: 100%;
    border-radius: 4px;
}

.icon-time {
    color: rgb(92, 92, 92);
    margin-bottom: 5px;
}

#peliculas-disponibles {
    margin-top: 60px;
}

.peliculas-container {
    position: relative;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    margin: 15px;
    height: 400px;
    padding-top: 220px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.135);
    box-sizing: border-box;
}

.img-peliculas-dispo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#info-container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.135);
    transition: box-shadow 0.3s ease;
    margin-bottom: 40px;
    margin-top: 20px;
    font: 900 60px/1.0666 Montserrat, sans-serif;
}

.title-primer-peliculas {
    color: #c9c9c9;
    margin-top: 30px;
    font: 900 60px/1.0666 Montserrat, sans-serif;
}

.title-pelicula-detalle {
    color: #585858;
    font: 900 45px/1.0666 Montserrat, sans-serif;
}

.title-sub-peliculas {
    color: #b8b8b8;
    font: 900 45px/2 Montserrat, sans-serif;
}

.title-sub-elenco {
    color: #b8b8b8;
    font: 900 30px/1 Montserrat, sans-serif;
}