@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans&family=Road+Rage&display=swap');

#card-title {
    font: 700 10px Montserrat, sans-serif;
    font-size: 80px;
    color: white;
    padding-bottom: 60px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

#extract-carrusel {
    font: 500 15px Montserrat, sans-serif;
    padding-top: 20px;
    font-size: 20px;
    padding-left: 5px;
    max-width: 700px;
    text-align: left;
    line-height: 24px;
}

#btn-movie,
#btn-hall {
    background-color: #FA7525;
    color: white;
    border: none;
    margin: 0px 60px;
    padding: 10px 90px;
    width: 100%;
    max-width: 300px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.336);
}

#btn-movie:hover,
#btn-hall:hover {
    background-color: #cc6526;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.bot-name {
    padding-right: 125px;
}

.avatar-container {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.avatar-container:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.cartelera-card {
    position: relative;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 8px;
    margin: 15px;
    height: 400px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.135);
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.cartelera-card:hover {
    transform: scale(1.05);
}

.cartelera-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartelera-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;

}

.cartelera-card:hover::after {
    opacity: 0.7;
}

.botones-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cartelera-card:hover .botones-overlay {
    opacity: 1;
    visibility: visible;

}

.botones-overlay-comprar {
    display: block;
    background-color: #FA7525;
    width: 200px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.4s ease, color 0.4s ease;

}

.botones-overlay-detalles {
    display: block;
    background-color: #FA7525;
    color: #fff;
    padding: 13px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.4s ease, color 0.4s ease;
    transition: border 0.4s ease, color 0.4s ease;
    margin-bottom: 65px;
    font: 700 20px Montserrat, sans-serif;
}

.botones-overlay-comprar:hover {
    background-color: #c45511;
}

.botones-overlay-detalles:hover {
    background-color: #c45511;

}



.title-peliculas {
    color: #c9c9c9;
    font: 900 60px/1.0666 Montserrat, sans-serif;
}

#title-peliculas {
    color: #c9c9c9;
    font: 900 60px/1.0666 Montserrat, sans-serif;
}



.buttonInicio {
    text-decoration: none;
    color: #474747;
    font: 900 25px/1 Montserrat, sans-serif;
}

.dividerInicio {
    background-color: gray;
    width: auto;
    height: auto;
}

.inicio-container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.135);
    transition: box-shadow 0.3s ease;
}

.inicio-container:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.grid-item:hover {
    background-color: rgba(231, 231, 231, 0.318)
}

#buscar-container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.135);
    transition: box-shadow 0.3s ease;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
    font: 900 60px/1.0666 Montserrat, sans-serif;
}

#buscar-container-inicio {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.135);
    transition: box-shadow 0.3s ease;
    padding-left: 15px;
    padding-right: 15px;
    font: 900 60px/1.0666 Montserrat, sans-serif;
}

#modal-content-buscar {
    background-color: rgba(255, 255, 255, 0.7);

}

.custom-modal .modal-content {
    background-color: transparent;
    border: none;
}

#resultado-container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.135);
    transition: box-shadow 0.3s ease;
    margin-bottom: 40px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font: 900 60px/1.0666 Montserrat, sans-serif;
}

.custom-modal-dialog {
    min-width: 1000px;
    width: 1000px;
}

.css-udib3j-MuiCardMedia-root {
    width: 9% !important;
    min-width: 5% !important;
    border-radius: 8px;
}

#top-container-inicio {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.135);
    transition: box-shadow 0.3s ease;
    padding-top: 15px;
    padding-bottom: 15px;
}

.top-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: white;
}